---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-8">
    <p class="w-auto text-base text-neutral md:pr-5">{description}</p>
    <div class="relative h-96 w-72 shrink-0 overflow-hidden bg-white p-4 md:rotate-[7deg]">
      <Image
        class="object-cover w-full h-full"
        src={image}
        alt={name}
        width={288}
        height={384}
      />
    </div>
  </div>
</Section>
