---
interface Props {
  text: string;
  href: string;
  class?: string;
  linkHome?: boolean;
}

const { text, href, class: sectionClass = "", linkHome = false } = Astro.props;
---

<section id={href} class={`py-8 ${sectionClass}`}>
  <h2
    class="mb-14 font-serif text-4xl font-bold tracking-tighter text-white md:text-5xl"
  >
    {linkHome ? (
      <a href="/" class="transition hover:text-primary">{text}</a>
    ) : (
      text
    )}
  </h2>
  <slot />
</section>
